<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lead.full_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @lead.phone_number %>
</p>

<p>
  <strong>Date texted:</strong>
  <%= @lead.date_texted %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
